{% extends "site_base.html" %}
{% load i18n %}

{% block breadcrumbs %}

{% endblock %}

{% block description %}Login page{% endblock %}
{% block title %}{% trans 'toLogin' %}{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li class="selected">&raquo; {% trans 'toLogin' %}</li>
{% endblock %}

{% block content %}
<div id="content">
	<h2 class="title">{% trans 'toLogin' %}</h2>
	
	<p>{% trans "loginDesc" %}

	<ul id="externalAuthProviders" class="horizList">
	  <li><a href="/social_auth/login/google/" class="googleLogin bigicon"
	  	alt="Google icon"></a></li>
	  <li><a href="/social_auth/login/facebook/" class="facebookLogin bigicon"
	  	alt="Facebook icon"></a></li>
	  <li><a href="/social_auth/login/openid/?openid_identifier=www.myopenid.com" 
	  	class="myOpenIDLogin bigicon" alt="MyOpenID icon"></a></li>
	  <li><a href="/social_auth/login/openid/twitter/" class="twitterLogin bigicon"
	  	alt="Twitter icon"></a></li>
	</ul>
</div>
{% endblock %}
