{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block pageTitle %}{% trans 'Password change' %}{% endblock %}
{% block titleDesc %}
{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
{% endblock %}

{% block content %}

<form action="" method="post">
{% csrf_token %}
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<table>

	<tr>
	    <td>
		    <label for="id_old_password" class="required">
		    {% trans 'Old password' %}:
		    </label>
		</td>
		<td>{{ form.old_password }}</td>
	</tr>
	<tr>
	    <td colspan="2">{{ form.old_password.errors }}</td>
	</tr>
	
	<tr>
	    <td>
		    <label for="id_new_password1" class="required">
		    {% trans 'New password' %}:
		    </label>
	    </td>
	    <td>{{ form.new_password1 }}</td>
	</tr>
	<tr>
	    <td colspan="2">{{ form.new_password1.errors }}</td>
	</tr>
	
	<tr>
	    <td>
		    <label for="id_new_password2" class="required">
		        {% trans 'Password (again)' %}:
		    </label>
		</td>
		<td>{{ form.new_password2 }}</td>
	</tr>
	<tr>    
	    <td colspan="2">{{ form.new_password2.errors }}</td>
	</tr>

</table>

<input  type="submit" value="{% trans 'Change my password' %}" 
        class="form-submit" />

<script type="text/javascript">
document.getElementById("id_old_password").focus();
</script>

</form>

{% endblock %}
