{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

{% block pageTitle %}{% trans 'Enter new password' %}{% endblock %}
{% block titleDesc %}{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}{% endblock %}

<form action="" method="post">{% csrf_token %}
{% include "includes/form_snippet.html" %}
<input type="submit" class="buttonek" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<div id="about" class="post">
  <h1 class="title">{% trans 'Password reset unsuccessful' %}</h1>
  <div class="entry"><p>
  {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
  </p></div>
</div>

{% endif %}

{% endblock %}
