{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "update user" %}{% endblock %}

{% block breadcrumbs %}
<li class="selected">{% trans "update user" %}</li>
{% endblock %}

{% block content %}
  <h2>{% trans "update user" %}</h2>
  <form action="" method="post">
    {% csrf_token %}
    {% for name, form in profileform.get_forms %}
    {% include "includes/form_snippet.html" %}
    {% endfor %}
	</table>
    <input type="submit" value="{% trans 'Save' %}" 
    	class="ui-button ui-state-default ui-corner-all" />
    
    {{ extra_content }}
  </form>
{% endblock %}
